/*========== Magic Mouce css ===========*/
#magicMouseCursor {
    z-index: 10000000 !important;
    position: fixed;
}


#magicMouseCursor {
    left: 0;
    top: 0;
    -webkit-transition: width 0.3s, height 0.3s, -webkit-transform 0.07s;
    transition: width 0.3s, height 0.3s, -webkit-transform 0.07s;
    -o-transition: transform 0.07s, width 0.3s, height 0.3s;
    transition: transform 0.07s, width 0.3s, height 0.3s;
    transition: transform 0.07s, width 0.3s, height 0.3s, -webkit-transform 0.07s;
    pointer-events: none;
}

#magicMouseCursor.cursor-square {
    border-radius: 0;
}

#magicPointer {
    z-index: 10000000 !important;
    top: 0;
    left: 0;
    position: fixed;
    pointer-events: none;
    -webkit-transition: background 0.2s, width 0.2s, height 0.2s, -webkit-box-shadow 0.2s;
    transition: background 0.2s, width 0.2s, height 0.2s, -webkit-box-shadow 0.2s;
    -o-transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s;
    transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s;
    transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

#magicPointer.is-hover {
    background: #fff;
}

#magicPointer.pointer-blur {
    height: 10px;
    width: 50px;
    background: none;
    border: 1px solid #fff;
    -webkit-box-shadow: 0px 0px 15px -5px white;
    box-shadow: 0px 0px 15px -5px white;
}

#magicPointer.pointer-overlay {
    height: 10px;
    width: 50px;
    mix-blend-mode: difference;
    -webkit-box-shadow: 0px 0px 15px -5px white;
    box-shadow: 0px 0px 15px -5px white;
}

.magic-hover {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.magic-hover:hover {
    cursor: none !important;
}

#magicMouseCursor.cursor-hidden.is-hover {
    border: none;
}

#magicMouseCursor.cursor-square.magicMouse-hidden,
#magicPointer.is-hover.magicMouse-hidden {
    cursor: auto !important;
    border: 1px solid transparent;
    background: transparent;
}

@media only screen and (max-width: 1023px) {
    body {
        cursor: auto !important;
    }
}